@model Category
<form asp-action="Add" method="post">
    <h2>Add Category</h2>
    <hr />
    <div class="form-group">
        <label>Name</label>

        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Display Order</label>
        <input asp-for="DisplayOrder" class="form-control" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary"> Save </button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>    
}